*~
TAGS
obj/
bin/
log/
build/
dist/
__pycache__
*.spec
*.bin
*.exe
*.dis
*.elf
*.sbin
*.log
*.swp

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.cproject
*.csproj
.project
*.sln
*.vcproj
PspDirectory.xml

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
.vs
.vscode
